<div id="<%= dom_id budget_category %>">
  <p>
    <strong>Name:</strong>
    <%= budget_category.name %>
  </p>

  <p>
    <strong>Spending limit percentage:</strong>
    <%= budget_category.spending_limit_percentage %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= budget_category.budget_id %>
  </p>

</div>
